.fex {
    width: 60%;
    margin: auto;
    text-align: start;
}
.chenggong {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5%;
    background: url(https://cdn.jsdelivr.net/gh/LnksGit/jsDelivr-images@master/img/chenggong.svg);
    background-size: cover;
    vertical-align: middle;
}
.cuowu {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5%;
    background: url(https://cdn.jsdelivr.net/gh/LnksGit/jsDelivr-images@master/img/cuowu.svg);
    background-size: cover;
    vertical-align: middle;
}
.cont {
    vertical-align: middle;
}