.user-group {
    text-align: center;
}
.tos {
    color: #000 !important;
    font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoj;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}
.tos:hover {
    cursor: auto;
}
.tosa {
    color: #004aab !important;
    font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoj;
    font-size: 0.9rem;
    font-weight: bold;
}
.tosa:hover {
    color: #2a84de !important;
}